@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    --font: #484646;
    --hover: #1d40c0;
    scroll-behavior: smooth;
    user-select: none;
    transition: 0.5s;
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgb(255, 253, 253);
}

.container-nav{
    display: flex;
    position: fixed;
    z-index: 100000;
    height: 60px;
    background-color: rgb(255, 253, 253);
    width: 100%;
    border-bottom: 1px solid #e7e1e1;
}


.row-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu-nav{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 490px;
    padding-top: 5px;
}

.menu-nav ul li {
   padding-top: 15px;
}

.judul{
    padding-left: 120px;
    padding-top: 12px;
}

.judul img{
   
    width: 180px;
    height: 30px;
}

.menu-nav ul li a{
    font-size: 15px;
    font-weight: 600;
    color: var(--font);
}

.menu-nav ul li a:hover{
    font-size: 15px;
    font-weight: 600;
    color: var(--hover);
}

.image-detik{
    padding-left: 60px;
}

.image-detik img{
    width: 240px;
    height: 50px;
}
.container{
    padding-top: 100px;
}
#active{
    
    color: var(--hover);
}

@media(max-width: 425px) {
    .judul{
        padding-left: 20px;
        padding-top: 15px;
    }
    
    .judul img{
        height: 20px;
        width: 120px;
       
}

}
